body,h1,h2,h3,h4,h5,h6,a,p,li,ul,ol{
    margin: 0px;padding: 0px;font-family: 微软雅黑;
}
.cotainer .active .left{
    background-color: #0aa1ed;
}
.cotainer .active{
    border: 1px solid #0aa1ed;
}
 .info{
    display: block;height: 70px;
    width: 1000px;margin: 10px auto;border:1px solid #aaa;border-radius: 3px;
}
.left{
    float: left;width: 200px;height: 50px;
    margin: 10px 50px;font-size: 35px;
    text-align: center;border-radius: 6px;
}
.center{
    float: left;width: 300px;margin: 16px 50px;
}
.right{
    float: right;margin: 20px 10px 5px 0px;
}

.dress span {
    font-size: 24px;
}
body p{
    margin:5px auto ;width: 1000px;
}
